---
import type { ProjectCardData } from '../../lib/github';
import ProjectCard from './ProjectCard.astro';

interface Props {
  repos: ProjectCardData[];
}

const { repos } = Astro.props;
---

<div class="projects-grid">
  {
    repos.map((repo) => (
      <ProjectCard
        name={repo.name}
        description={repo.description}
        topics={repo.topics}
        htmlUrl={repo.htmlUrl}
        updatedAt={repo.updatedAt}
        image={repo.image}
        homepage={repo.homepage}
      />
    ))
  }
</div>
